@font-face {
  font-family: 'text-security-disc';
  src: url('text-security-disc.woff') format('woff');
}

html.webkit-text-security .text-security-disc,
html.webkit-text-security .password-forge-disc {
  -webkit-text-security: disc !important;
}
html:not(.webkit-text-security) .text-security-disc,
html:not(.webkit-text-security) .password-forge-disc {
  font-family: text-security-disc !important;
}
