@font-face {
  font-family: 'text-security-disc';
  src: url('text-security-disc.woff') format('woff');
}

html.webkit-text-security .text-security,
html.webkit-text-security .password-forge,
html.webkit-text-security .text-security-disc,
html.webkit-text-security .password-forge-disc {
  -webkit-text-security: disc !important;
}
html:not(.webkit-text-security) .text-security,
html:not(.webkit-text-security) .password-forge,
html:not(.webkit-text-security) .text-security-disc,
html:not(.webkit-text-security) .password-forge-disc {
  font-family: text-security-disc !important;
}


@font-face {
  font-family: 'text-security-circle';
  src: url('text-security-circle.woff') format('woff');
}

html.webkit-text-security .text-security-circle,
html.webkit-text-security .password-forge-circle {
  -webkit-text-security: circle !important;
}
html:not(.webkit-text-security) .text-security-circle,
html:not(.webkit-text-security) .password-forge-circle {
  font-family: text-security-circle !important;
}


@font-face {
  font-family: 'text-security-square';
  src: url('text-security-square.woff') format('woff');
}

html.webkit-text-security .text-security-square,
html.webkit-text-security .password-forge-square {
  -webkit-text-security: square !important;
}
html:not(.webkit-text-security) .text-security-square,
html:not(.webkit-text-security) .password-forge-square {
  font-family: text-security-square !important;
}
