@font-face {
  font-family: 'text-security-circle';
  src: url('text-security-circle.woff') format('woff');
}

html.webkit-text-security .text-security-circle,
html.webkit-text-security .password-forge-circle {
  -webkit-text-security: circle !important;
}
html:not(.webkit-text-security) .text-security-circle,
html:not(.webkit-text-security) .password-forge-circle {
  font-family: text-security-circle !important;
}
