@font-face {
  font-family: 'text-security-square';
  src: url('text-security-square.woff') format('woff');
}

html.webkit-text-security .text-security-square,
html.webkit-text-security .password-forge-square {
  -webkit-text-security: square !important;
}
html:not(.webkit-text-security) .text-security-square,
html:not(.webkit-text-security) .password-forge-square {
  font-family: text-security-square !important;
}
